<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasLeft"
        aria-controls="offcanvasLeft"
      >
        &#9776;
      </button>
      <a
        class="nav-item nav-link"
        routerLink="/create-user"
        >Create User
      </a>
      <a class="nav-item nav-link" routerLink="/user-list"
        >User List</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/grouped-list"
        >Grouped List</a
      >
    </div>
  </div>
</nav>
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasLeft"
  aria-labelledby="offcanvasLeftLabel"
>
  <div class="offcanvas-header">
    <h1 id="offcanvasLeftLabel">Welcome</h1>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <a  class="nav-item nav-link" routerLink="/create-user">Create User</a>
    <a class="nav-item nav-link" routerLink="/user-list">User List</a>
    <a class="nav-item nav-link" routerLink="/grouped-list">Grouped List</a>
  </div>
</div>

<router-outlet></router-outlet>
